<!--Third View-->
<ion-view view-title="Text Question">
  <ion-header-bar class="stable"></ion-header-bar>
  <ion-content>
    <h1>What year is it?</h1>
    <!--Text Entry box here-->
    <div class="bottom">
      <label class="item item-input">
        <input type="text" name="answer" id="text-answer-area" ng-model="$parent.textAnswer" placeholder="Your Answer"/>
      </label>
    </div>
    <button class="button" ng-click="checkAndAdvanceToResults($parent.textAnswer)">View Results!</button>
  </ion-content>
</ion-view>
